.header {
  font-size: 15px;
  line-height: 1.5;
  background-color: #fff;
}
.section-header {
  font-size: 20px;
  line-height: 1.5;
  background-color: #fff;
  color: #333333;
}
span {
  font-size: 20px;
  line-height: 1.5;
  background-color: #fff;
  background-color: #333333;
}
